{% extends 'base.html' %}
{% load static %}

{% block imagen %}
    {% static 'contenido/images/registrar.png' %}
{% endblock %}

{% block descripcion_modulo %}
    Cursos <span>Educativos</span>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="page-header">
        <div class="page-title">
            <h3>Listado de Cursos
                <small>Estos son los cursos disponibles en el portal</small>
            </h3>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">Cursos Disponibles</h5>
        </div>

        <div class="panel-body">
            <ul class="list-group">
                {% for curso in cursos %}
    <li class="list-group-item">
        <strong>{{ curso.nombre }}</strong><br>
        <img src="{{ curso.imagen.url }}" width="200" alt="{{ curso.nombre }}"><br>
        {{ curso.descripcion }}<br>
        Cupo: {{ curso.cupo }}<br>
        Costo: ${{ curso.costo }}<br>
        Activo: {{ curso.activo }}<br>
        Fecha: {{ curso.fecha_creacion|date:"d/m/Y H:i" }}
        <td class="text-center"> 
            <a href="{% url 'confirmarEliminacion' curso.id %}">Eliminar</a>
<a href="{% url 'editar_curso' curso.id %}" class="btn btn-primary btn-sm">
        Editar
    </a>
            
        </td>
    </li>
{% empty %}
    <li class="list-group-item text-danger">No hay cursos disponibles</li>
{% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block principal %}
    <div class="container">
        <h1>Bienvenido al Portal de Cursos</h1>
        <p>Explora nuestros cursos y mejora tus habilidades.</p>
    </div>
{% endblock %}

